
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


@import "tailwindcss";

@theme{
    --font-sora: "Sora", sans-serif;
    --font-epilogue:  "Epilogue", sans-serif;
    --color-color-yellow: #F7B401;
}

*{
    scroll-behavior: smooth;
}

body{
    @apply font-sora w-screen overflow-x-hidden;
}

.heading{
    @apply font-epilogue  font-bold leading-snug;
}

 button{
    @apply cursor-pointer;
 }