
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');


@import "tailwindcss";

@theme{
    --font-sora: "Sora", sans-serif;
    --font-epilogue:  "Epilogue", sans-serif;
    --color-color-yellow: #F7B401;
    --color-color-lightgray: #F8F6F1;
}

*{
    scroll-behavior: smooth;
}

body{
    @apply font-sora w-screen overflow-x-hidden;
}

.heading{
    @apply font-epilogue  font-bold leading-snug;
}

 button{
    @apply cursor-pointer;
 }

 label{
    @apply block text-black w-full font-medium;
 }

 input,select{
    @apply outline-none w-full px-4 py-2 text-sm rounded-lg mt-2 mb-4 bg-color-lightgray placeholder:text-sm;
 }